.icon-48-channels {
      background-image: url(../images/l_channels.png);
      padding-left:60px!important;
}

.icon-48-channel {
      background-image: url(../images/l_channels.png);
      padding-left:60px!important;
}

.btn-loading i {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
